/* Общие стили для страницы */
body {
    background-color: #000;
    color: #fff;
}

/* Стили для шапки навигации */
.navbar {
    background-color: #000;
}

/* Стили для обычных ссылок в навигации */
.nav-link {
    color: #4CAF50;
}

/* Стили для ссылок в навигации при наведении курсора */
.nav-link:hover {
    color: #45A049;
}

/* Стили для иконки переключения меню */
.navbar-toggler-icon {
    background-color: #4CAF50;
}

/* Стили для кнопки "Настройки" и "Уведомления" */
.navbar .btn {
    margin-right: 10px; /* Расстояние между кнопками "Настройки" и "Уведомления" */
}

/* Стили для выпадающего меню */
.dropdown-menu {
    background-color: #000; /* Цвет фона меню */
}

/* Стили для элементов в выпадающем меню */
.dropdown-item {
    color: #fff; /* Цвет текста элементов меню */
}

/* Стили для элементов меню при наведении курсора */
.dropdown-item:hover {
    background-color: #4CAF50; /* Изменение цвета фона при наведении курсора */
    color: #fff; /* Изменение цвета текста при наведении курсора */
}